* {
    font-family: "Montserrat", sans-serif;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: linear-gradient(#0B0C10,#1F2833);
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover;
    display: inline-block;
}

header {
    height: 80vh;
    color: white; 
    text-transform: uppercase; 
}
header #header-text {
    padding: 35vh 0;
    text-align: center; 
}
header #header-text h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 5px;
}
header span {
    border-right: .05em solid;
    animation: lineout 1s steps(1) infinite;
} 
@keyframes lineout {
    50% {
        border-color: transparent;
    }
}
@media (max-width: 575px) {
    #header-text {
        font-size: 30px;
    }

    .navbar {
        background: #0B0C10;
    }

    .navbar.scrolled #navbarResponsive li a {
        color: rgb(89, 94, 100) !important;
    }
}


section {
    /* padding-top: 100px; */
    padding-bottom: 100px;
    color: #fafafa;
}
hr {
    background-color: rgb(61, 61, 61);
}

.text-secondary {
    padding: 1rem;
    padding-top: 2rem;
}
.text-secondary a {
    color: #45A29E;
}

#me {
    padding-top: 50px;
}

.navbar-brand {
    padding-left: 20px;
    color: #66FCF1 !important;
}

.navbar {
    padding: 30px 30px;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 20px;
    position: relative;
}

.navbar-nav a {
    text-decoration: none;
    color: white !important;
}

#navbarResponsive li a:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 10%;
    background: #45A29E;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#navbarResponsive li a:hover {
    opacity: 1 !important;
    color: #45A29E !important;
}
#navbarResponsive li a:hover:before {
    right: 0;
}
#navbarResponsive li.active a:before {
    left: 0;
    right: 0;
    bottom: 10%;
    background: #66FCF1;
}
#navbarResponsive li.active a {
    color: #66FCF1 !important;
}

.navbar.scrolled {
    padding: 10px 10px;
    background-image: linear-gradient(to right, #66FCF1, #45A29E);
    margin: 15px;
}
.navbar.scrolled #navbarResponsive li a {
    color: #fff !important;
}
.navbar.scrolled #navbarResponsive li a:hover {
    color: #1F2833 !important;
}
.navbar.scrolled #navbarResponsive li a:before {
    background: #1F2833;
}
.navbar.scrolled #navbarResponsive li.active a {
    color: #0B0C10 !important;
}
.navbar.scrolled #navbarResponsive li.active a:before {
    background: #0B0C10;
}
.navbar.scrolled .navbar-brand {
    color: #0B0C10 !important;
}
.navbar .navbar-toggler-icon {
    color: #66FCF1;
}

.toggle {
    position: relative;
    top: 5%;
    right: 0.5%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
}
.toggle:before {
    content: '+';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    width: 100%;
    height: 100%;
    color: #66FCF1;
    font-weight: 100;
    text-align: center;
    transition: 1s;
    line-height: 30px;
}
.toggle.active:before {
    transform: rotate(405deg);
}
.navbar.scrolled .toggle {
    background: transparent;
}
.navbar.scrolled .toggle::before {
    color: #0B0C10;
}

.btn.btn-primary {
    background: -webkit-linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    background: -moz-linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    background: -o-linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    background: linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    width: 100%; 
    border: 0;
}
.btn.btn-primary:hover {
    text-decoration: none;
    opacity: 0.8;
}

.contact-form p {
    margin-bottom: 5px;
}

.secTitle {
    padding-bottom: 2rem;
    color: #45A29E;
    text-transform: uppercase;
}

.secTitleline {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.subTitle {
    padding-top: 1rem;
}

.contact-form {
    width: 80%;
    margin: auto;
}

#mainProfile {
    border-radius: 100%;
    max-width: 100%;
    max-height: auto;
}

#myposition {
    padding: 0 0 1rem 0;
}

#me img{
    padding-bottom: 1rem;
}

.separator {
  margin-top: 25px;
  margin-bottom: 80px;
  border: 0;
}

.separator--line {
  border: 0;
  border-bottom: 1px solid white;
  width: 0;
  -webkit-animation: separator-width 2s ease-out forwards;
          animation: separator-width 2s ease-out forwards;
}

@-webkit-keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.ex-resize {
    max-width: 70%;
    max-height: auto;
    padding-bottom: 10%;
}

.item-list {
    padding-top: 2rem;
}
.item-list h5{
    color: gray;
    font-style: italic;
}
.item-list li {
    font-size: larger;
}

.godown {
    background-color: #45A29E;
    text-indent: -2000em;
    border-radius: 100px;
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 60px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.godown a {
    background-color: #45A29E;
    text-decoration: none;
    outline: none;
}

.logosize {
    font-size: 200%;
}

.subtitle {
    padding-top: 5%;
    text-transform: uppercase;
    text-align: center;
    /* background: linear-gradient(to right, #66FCF1 0%, #330867 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-weight: 550;
}

.row-centered {
    align-items: center;
    justify-items: center;
    margin-left: 27.5%;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0px solid transparent;
    text-align: center;
    max-width: 250px;
    height: 55px;
    border-radius: 40px;
    /* margin: 0 5% 0 5%; */
    background: -webkit-linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    background: -moz-linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    background: -o-linear-gradient(45deg, #45A29E 0%, #66FCF1 100%);
    background: linear-gradient(45deg, #45A29E 0%, #1F2833 100%);
    transform: 1s box-shadow;
}

.contact-btn:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.contact-btn:hover:before,
.contact-btn:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 55px;
    background: rgb(0, 225, 255);
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.contact-btn:hover:after {
    background: rgb(225, 0, 255);
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }

    12% {
        top: -2px;
        left: 2px;
    }

    25% {
        top: 0;
        left: 5px;
    }

    37% {
        top: 2px;
        left: 2px;
    }

    50% {
        top: 5px;
        left: 0;
    }

    62% {
        top: 2px;
        left: -2px;
    }

    75% {
        top: 0;
        left: -5px;
    }

    87% {
        top: -2px;
        left: -2px;
    }

    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }

    12% {
        top: -2px;
        right: 2px;
    }

    25% {
        top: 0;
        right: 5px;
    }

    37% {
        top: 2px;
        right: 2px;
    }

    50% {
        top: 5px;
        right: 0;
    }

    62% {
        top: 2px;
        right: -2px;
    }

    75% {
        top: 0;
        right: -5px;
    }

    87% {
        top: -2px;
        right: -2px;
    }

    100% {
        top: -5px;
        right: 0;
    }
}

.svglogo {
    padding-right: 5%;
    max-width: 25%;
    height: auto;
}

.svglogo-1 {
    padding-right: 2%;
    max-width: 30%;
    height: auto;
}

.grid-badge a, a:hover {
    color: #fafafa;
    text-decoration: none;
}


@media (max-width: 575px) {
    .grid-badge {
        grid-template-columns: 1fr;
    }
}

.grid-badge {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    text-align: center;
    margin-top: 20px;
}

.proj > h4 {
    display: inline-block;
}

.proj-date {
    font-size: 80%;
    color: #45A29E;
    font-style: italic;
    font-weight: lighter;
}

.hashtag {
    display: inline-block;
    color: #66FCF1;
    padding-right: 0.2%;
}

.tapp {
    padding-right: 0.5%;
}

.projdes {
    text-indent: 50px;
    padding-top: 10px;
}
.projdes a {
    color: #66FCF1;
}
.projdes a:hover {
    color: #45A29E;
}

.projline {
    margin-top: 3% !important;
    padding-top: 0 !important;
    
}

.projimg {
    text-align: center;
}
